* { 
    padding: 0px; 
    margin: 0px; 
    font-family: sans-serif;
     text-transform: capitalize; }
body { background-color: beige; }
main{
    background-color: white;
    width: 1000px;
    margin: 0px auto;
  
}
.container {
             
width: 90%;
             
margin: auto;
}
.players {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     padding-bottom: 60px;
    }
.player {
     width: 100%;
     display: flex;
     align-items: center;
}
.player img {
    width: 30%;
    padding: 0px 12px 0px 0px;
}
.player h5{
    padding-left: 10px;
    display: inline;
}
h2{
 padding: 40px 0px 30px;
}
.topplayer{
    margin-top: 30px;
    border-radius: 15px;
    margin-left: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
 #span{
    margin: auto;
    width: 90%;
    height: 2px;
    background-color: #1f1f1e4d;
    display: block;
}
.blogs{
    margin-left: 50px;
    margin-top: 30px;
    /* margin: 30px; */
}
.top-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    width: 100%;
    /* margin-left: 20px; */
}
.blog{
    /* width: 57%; */
    display: flex;
    width: 100%;
    /* padding: 0 30px; */
}
.blog img{
    width: 50%;
}
.writer{
    display: inline;
    padding-left: 13px;
    font-size: 19px;
}
.writer h4{
    line-height: 25px;
}
.writer h5{}
.writer span{
    color: #9ca2a2d4;
    padding: 0px 3px;
}
article{
    background-color: white;
    width: 1000px;
    margin: 30px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px; */
    padding: 10px;
}
.course{
    flex: 0 0 30%;
    margin-left: 20px;
    background-color: #4eb1b1;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.course img{
    width: 100%;
}
.course h4{
    font-size: 24px;
}
.des{
    padding: 20px 0px;
    line-height: 30px;
}
.des h4{

}
.des h6{
    font-size: 13px;
    color: #ea644cb3;
}

.course .rating{
    display: flex;
}
.rating p{}
.rating h6{}

#icon{
   
   ;
}
#time{}

.failer{
    display: flex;
    width: 1000px;
    margin: auto;
}
.failer-content{
    flex: 0 0 50%;
    display:flex;
    align-items: center;
    
}
.failer-img{
    flex: 0 0 50%;
}
.failer-img img{
    width: 100%;

}
.failer-content-img{
    flex: 0 0 20%;
}

.failer-content-img img{
    width: 100%;
}

.desc{
   

}







@media (max-width:575px){
    .courses{
        display: flex;
        flex-wrap: wrap;
        /* margin: 10px; */
        padding: 10px;
        justify-content: center;
    }
    .course{
        flex: 0 0 80%;
        margin: 10px;
       
       
    }

}



